

    <h1>My name is Liz, and I'm a RubyConf 2014 Opportunity Scholar!</h1>

    <h3>This is great news! I would never have been able to afford the $400 entry fee on my own. However, the scholarship does not cover air fare or accomodations, so I'm crowdfunding the rest by building this site (in Ruby, of course) and reaching out to the community.</h3>

    <h4>There are three ways you can help:</h4>
    <ul>
      <li>Choose a sponsorship level below to help me directly</li>
      <li>Share this page with your friends</li>
      <li><b><a href="http://www.lizbaillie.com/resume2014.pdf">Hire me</a></b>! I'm looking for a junior dev position. <b>If I can secure a job before RubyConf, <i>I will refund every dollar I was given</i>.</b> And what's more is, I'll still make good on all my pledge promises!</li>
    </ul>

<% @items.each do |item| %>
  <p>
    <b><%= item.item_name %><br></b>
    $<%= item.item_price %><br>
    <%= item.item_descrip %><br>
  </p>
<% end %>