@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
  background: url("ruby_bg.jpg");
  background-size: 4%;
  background-repeat: repeat;
  background-attachment:fixed;
}

h1 {
}

h2 {

}

h3 {

}

p {
  font-family: 'Varela Round', sans-serif;
}

.top {
  background-color: white;
  border: 4px solid;
  margin: 20px;
  padding: 5px 5px;
  border-radius: 25px;
  border-color: #680000;
}

.part_one {
  background-color: white;
  border: 4px solid;
  margin: 20px;
  padding: 5px 5px;
  border-radius: 25px;
  border-color: #680000;
}

.part_two {
  background-color: white;
  border: 4px solid;
  margin: 20px;
  padding: 5px 5px;
  border-radius: 25px;
  border-color: #680000;
}

.part_three {
  background-color: white;
  border: 4px solid;
  margin: 20px;
  padding: 5px 5px;
  border-radius: 25px;
  border-color: #680000;
}