<div class="part_one">
  <h2>Thanks, you paid <strong>$<%= @amount.price %>.00</strong>!</h2>
  <h3>Your support is greatly appreciated! I will email you for any information I might need (mailing address, photograph, etc.) at some point before RubyConf.</h3>
  <h3>Please contact liz@lizbaillie.com if you have any questions or concerns.</h3>
</div>