<!DOCTYPE html>
<html>
<head>
  <title>Send Liz to RubyConf!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<footer>
  <br>
  &copy; Liz Baillie 2014 / Contact: liz@lizbaillie.com / <a href="http://www.lizbaillie.com" style="color: white;">Blog</a> / <a href="https://twitter.com/infinite_math" style="color: white;">Twitter</a> / <a href="https://github.com/lizzerdrix" style="color: white;">GitHub</a> / <a href="www.linkedin.com/pub/liz-baillie/62/619/b67/" style="color: white;">LinkedIn</a>
</footer>
</html>
